p {
   color: red;
}

#green {
   color: green;
}

blue {
   color: blue;
}

#gray {
   color: gray;
}

h2 {
   color: purple !important;
}


/*body {
	background-color: black;
	color: white;
}

h1 {
	color: red;
}

.font40 {
	font-size: 40px;
}

#header2 {
	color: color: #29c2d4;;
}

#list1 {
	font-weight: bold;
}

#list2 {
	font-family: cursive;
}*/